<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright 2025 Adobe. All rights reserved.
    This file is licensed to you under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License. You may obtain a copy
    of the License at http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under
    the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
    OF ANY KIND, either express or implied. See the License for the specific language
    governing permissions and limitations under the License.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for PackageManager.resolveActivity() on Android 11+ (API 30) to detect
         which app handles VIEW intents for http/https URLs. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:name="com.adobe.marketing.mobile.conciergetestapp.ChatApp"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEPSDKBrandConciergeAgent"
        tools:targetApi="31">
        <activity
            android:name="com.adobe.marketing.mobile.conciergetestapp.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AEPSDKBrandConciergeAgent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.adobe.marketing.mobile.conciergetestapp.LinkHandlingTestActivity"
            android:exported="false"
            android:label="Link Handling Tests"
            android:theme="@style/Theme.AEPSDKBrandConciergeAgent" />

        <activity
            android:name="com.adobe.marketing.mobile.conciergetestapp.XmlChatActivity"
            android:exported="false"
            android:label="XML Integration Demo"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>